#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#navbar{
  background-color: rgb(33, 52, 88); 
  padding:1%
}

#logo{
  width:50%;
}

#article-list #article-list-item{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items:center;
  align-content:center;  
}

#article-list-item{
  margin:2%;
  border-style:double;
  border-color: rgb(223, 217, 217);
  min-width:30%;
}

#article-list-item img{
  width:70%;
}

#article-list-item h3{
  word-wrap: break-word;
}

#article img{
  width:70%;
}

#comment-list{
  color:#444343;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#comment-box{
  border-style:double;
  border-color: rgb(223, 217, 217);
  width:90%;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items:center;
  align-content: center;
}

#logged-in-user-display{
  font-size:75%;
  color:white;
}

#sort-label{
  color: white;
  font-size:smaller;
  display:inline;
}

#article-card-info{
  font-size: smaller;
}